<link href='/css/core/heading.css' rel='stylesheet'>
<link href='/css/partials/section-banner.css' rel='stylesheet'>

<header class='section-banner' role='toolbar'>
	<nav class='banner-breadcrumbs'>
		{{#if title}}
			<a class='banner-breadcrumb' href='{{ href }}'>
				<h1 class='title banner-header'>{{ title }}</h1>
			</a>
		{{else}}
			{{#each breadcrumbs}}
				{{#unless @first}}
				<i class='material-icons breadcrumb-icon'>keyboard_arrow_right</i>
				{{/unless}}

				<a class='banner-breadcrumb' href='{{ this.href }}'>
					<h1 class='title banner-header'>{{ this.title }}</h1>
				</a>
			{{/each}}
		{{/if}}
	</nav>

	{{!-- 
		If passed an inline partial named "content", it will be rended after the 
		breadcrumb list.

		Example:
		{{#> section-banner}}
			{{#*inline "content"}}
				My Content
			{{/inline}}
		{{/section-banner}}
	--}}
	{{#> content}}{{/content}}
</header>