.app-banner {
	display: flex;
	padding: 0.25em 1.5em;
}

.banner-logo {
	display: flex;
	margin-right: auto;
	order: -1;
}

.app-menu {
	visibility: hidden;
	transform: scale3d(0, 0, 0);
	transform-origin: right center;
	transition: transform 0.1s ease, visibility 0.1s linear;
	order: -1;
	display: flex;
	align-items: center;
	margin-right: auto;
}

.app-menu-item {
	display: block;
	padding: 0.2em 0.5em;
	text-align: center;
}

.app-menu-item:hover {
	background: rgba(0,0,0,0.1);
}

.app-menu-icon {
	vertical-align: middle;
	margin-right: 0.25em;
}

.hidden-checkbox:checked + .app-menu {
	visibility: visible;
	transform: none;
}